header{
    background-color: black;
    width: 100%;
    height: 60px;
    margin-bottom: 0;
}

nav{
    width: 60vw;
    height: 60px;
    margin: 0 auto;
}

nav > ul{
    display: flex;
    list-style: none;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
    gap: 20px;
}

nav > ul > li{
    width: 100%;
    height: 100%;
}

nav > ul > li > a{
    width: 100%;
    height: 100%;
    display: block;
    text-align: center;
    line-height: 60px;
    text-decoration: none;
    color: white;
}

h1{
    font-weight: 500 bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 120px;
    margin-top: 0px ;
}







footer{
    background-color:black;
    width: 100%;
    height: 300px;
}

/* id */

#grad1{
    height: 500px;
    background-color: blueviolet;
    background-image: linear-gradient(to bottom right, darkorange, rgb(255, 153, 0), rgb(255, 196, 0), rgb(224, 183, 1));
}

/* class */

.h1{
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 500%;
}


.tourplaatje{
    position: relative;
    text-align: center;
    align-items: center;
    color: white;
}

.active{
    background-color: darkred;
}

.leftdownbutton{
    background-color: rgba(0, 0, 0, 0.4);
    color: white;
    position: absolute;
    width: 200px;
    height: 50px;
    bottom: 50px;
    left: 50px;
    font-size: 40px;
    border: 3px solid black;
    border-radius: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    cursor: pointer;
    text-decoration: none;
}

.leftdownbutton:hover{
    background-color: darkred;
}

.backimg{
    width: 100%;
    height: 700px;
    filter: blur(2px);
}

.logo{
    width: 60px;
    height: 60px;
}

.nlvlag{
    width: 50px;
    height: 30px;
}













































































/* classes */

.titleKaartjes{
    margin-bottom: 80px;
}

.hoeveelheidKaartjes{
    
    display: inline;
    margin-bottom: 0px;
}

.kostenKaartjes{
    display: inline;
    margin-top: 0px;
}

.h2Kinderen{
    margin-bottom: 5px;
}

.h2Studenten{
    margin-bottom: 5px;
}


/* extra */ 
.vl {
    border-right: 2px solid black;
    right: 50%;
    height: 800px;
    position: absolute;
    margin-left: -3px;
    top: 0;
  }
