*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

body{
    margin: 0px;
    margin-top: 0px;
}

header{
    background-color: black;
    width: 100%;
    height: 60px;
    margin-bottom: 0;
}

nav{
    width: 80vw;
    height: 60px;
    margin: 0 auto;
}

nav > ul{
    display: flex;
    list-style: none;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
    gap: 30px;
}

nav > ul > li{
    width: 100%;
    height: 100%;
}

nav > ul > li > a{
    width: 100%;
    height: 100%;
    display: block;
    text-align: center;
    line-height: 60px;
    text-decoration: none;
    color: white;
}

h1{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 120px;
    margin-top: 0px ;
}

h2{
    margin-top: 10px;
}

footer{
    background-color:black;
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: space-evenly;
    grid-template-columns: 1fr 1fr;
}

/* id */
#grad1{
    height: 500px;
    background-color: blueviolet;
    background-image: linear-gradient(to bottom right, darkorange, rgb(255, 153, 0), rgb(255, 196, 0), rgb(224, 183, 1));
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100vw;
}
/* class */
.h1{
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 500%;
}

.tourplaatje{
    position: relative;
    text-align: center;
    align-items: center;
    color: white;
    height: 700px;
}

.active{
    background-color: darkred;
}

.leftdownbutton{
    background-color: darkred;
    color: white;
    position: absolute;
    width: 300px;
    height: 50px;
    bottom: 50px;
    left: 40%;
    font-size: 40px;
    border: 3px solid black;
    border-radius: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    cursor: pointer;
    text-decoration: none;
}

.leftdownbutton:hover{
    background-color: rgba(0, 0, 0, 0.4);
}

.backimg{
    width: 100%;
    height: 700px;
    margin-bottom: 0px;
}

.logo{
    width: 60px;
    height: 60px;
}

.nlvlag{
    width: 50px;
    height: 30px;
}

.envlag{
    width: 50px;
    height: 30px;
}

.vlagA{
    display: flex;
    align-items: center;
    justify-content: center;
}

.logoLi{
    display: flex;
    justify-content: center;
    align-items: center;
}


/*h2 en h3 sections*/ 
.h2Personen{
    font-family: 'McLaren', cursive;
    text-align: center;
    font-size: 60px;
    margin: 0 auto;
}

.h3Personen{
    font-family: 'McLaren', cursive;
    font-size: 40px;
    text-align: center;

    display: block;
    margin: 75px;
}


/*Sections*/ 
.HoofdSection{
    width: 100%;
    height: 700px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.secK{
    margin: 0 auto;
    border-left: 2px solid black;
    height: 650px;
    width: 600px;
}

.secH{
    margin: 0 auto;
    height: 650px;
    width: 600px;
}

.secPersonen{
    border-right: 2px solid black;
    margin: 0 auto;
    height: 650px;
    width: 600px;
}



/* classes kaartjes */
.bodyKaartjes{
    background-image: linear-gradient(to bottom right, darkorange, rgb(255, 153, 0), rgb(255, 196, 0), rgb(224, 183, 1));
}
.titleKaartjes{
    margin-bottom: 70px;
    font-size: 120px;
}

/*Buttons Kaartjes*/
#button1KinderenLinks{
    background-color: bisque;
    width: 5vw;
    height: 5vw;
    border-radius: 10px;
    font-size: 2vw;
    text-align: center;
    cursor: pointer;

    margin-top: 45px;
    margin-right: 205px;
}

#button1KinderenRechts{
    background-color: bisque;
    width: 5vw;
    height: 5vw;
    border-radius: 10px;
    font-size: 2vw;
    text-align: center;
    cursor: pointer;
    position: absolute;
    margin-top: 45px;
}

#button2KinderenLinks{
    background-color: bisque;
    width: 5vw;
    height: 5vw;
    border-radius: 10px;
    font-size: 2vw;
    text-align: center;
    cursor: pointer;

    margin-top: 45px;
    margin-right: 205px;
}

#button2KinderenRechts{
    background-color: bisque;
    width: 5vw;
    height: 5vw;
    border-radius: 10px;
    font-size: 2vw;
    text-align: center;
    cursor: pointer;
    position: absolute;
    margin-top: 45px;
}

#button3KinderenLinks{
    background-color: bisque;
    width: 5vw;
    height: 5vw;
    border-radius: 10px;
    font-size: 2vw;
    text-align: center;
    cursor: pointer;

    margin-top: 45px;
    margin-right: 205px;
}

#button3KinderenRechts{
    background-color: bisque;
    width: 5vw;
    height: 5vw;
    border-radius: 10px;
    font-size: 2vw;
    text-align: center;
    cursor: pointer;
    position: absolute;
    margin-top: 45px;
}
#button4KinderenLinks{
    background-color: bisque;
    width: 5vw;
    height: 5vw;
    border-radius: 10px;
    font-size: 2vw;
    text-align: center;
    cursor: pointer;

    margin-top: 45px;
    margin-right: 205px;
}

#button4KinderenRechts{
    background-color: bisque;
    width: 5vw;
    height: 5vw;
    border-radius: 10px;
    font-size: 2vw;
    text-align: center;
    cursor: pointer;
    position: absolute;
    margin-top: 45px;
}

.kosten{
    font-family: 'McLaren', cursive;
    font-size: 25px;
    text-align: center;
}

#js--aantal1{
    font-family: 'McLaren', cursive;
    margin-right: 185px;
    font-size: 30px;
}

#js--aantal2{
    font-family: 'McLaren', cursive;
    margin-right: 185px;
    font-size: 30px;
}

#js--aantal3{
    font-family: 'McLaren', cursive;
    margin-right: 185px;
    font-size: 30px;
}

#js--aantal4{
    font-family: 'McLaren', cursive;
    margin-right: 185px;
    font-size: 30px;
}

.prijs{
    font-family: 'McLaren', cursive;
    font-size: 40px;
    margin: 78px;
    margin-left:215px;
}

@media screen and (max-width: 800px) {
    .titleKaartjes{
        
        margin-bottom: 70px;
        font-size: 60px;
        width: 100%;
    }
    .h2Personen{
        font-family: 'McLaren', cursive;
        text-align: center;
        font-size: 30px;
        margin: 0 auto;
        width: 100%;
    }
    
    .h3Personen{
        font-family: 'McLaren', cursive;
        font-size: 20px;
        text-align: center;
        display: block;
        margin: 75px;
        
    }
}

@media  screen and (max-width: 1000px) {
    
}

/* extra */ 
.Route{
    margin-bottom: 80px;
    font-size: 120px;
}

.Vlak{
    text-align: center;
    border: 5px solid;
    border-radius: 5px;
    height: 800px;
    font-size: 5vw;
}

.kaartbutton{
    color: rgb(224, 183, 1);
    border: 1px solid rgb(255, 153, 0);
}

.midsectionleft{
    border: 1px solid black;
    border-radius: 10px;
    text-align: center;
    height: 400px;
    align-self: center;
    justify-content: center;
    width: 80%;
    margin-left: 19%; 
}

.midsectionright{
    border-radius: 10px;
    border: 1px solid black;
    display: flex;
    align-items: center;
    height: 400px;
    align-self: center;
    justify-content: center;
    width: 80%; 
    margin-left: 1%;
}

.footerh2{
    color: white;
    display: inline;
    font-size: 35px;
    text-align: center;
}

.footersec{
    height: 250px;
    width: 350px;
    margin: auto;
    text-align: center;
    justify-content: center;
    margin-top: 25px;
}


.footerDiv{
    width: 80vw;
    margin: 0 auto;
    height: 300px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}


.gsP{
    font-family: 'McLaren', cursive;
    height: 340px;
    margin-top: 10px;
    text-align: center;
    padding: 30px;
}

.slidefig{
    width: 100%;
    height: 400px;
    background-size: cover;
    animation-name: fotoSlider;
    animation-duration: 30s;
    animation-iteration-count: infinite;
    border-radius: 10px;
}

@keyframes fotoSlider {
    0%{
        opacity: 0.02;
        background-image: url(img/vanghogvoorpagina.jpg);
    }
    10%{
        opacity: 1;
        background-image: url(img/vanghogvoorpagina.jpg);
    }
    19%{
        opacity: 0.02;
        background-image: url(img/vanghogvoorpagina.jpg);
    }
    20%{
        opacity: 0.02;
        background-image: url(img/slider2.jpeg);
    } 
    30%{
        opacity: 1;
        background-image: url(img/slider2.jpeg);
    } 
    39%{
        opacity: 0.02;
        background-image: url(img/slider2.jpeg);
    } 
    40%{
        opacity: 0.02;
        background-image: url(img/slider3.jpg);
    }
    50%{
        opacity: 1;
        background-image: url(img/slider3.jpg);
    }
    59%{
        opacity: 0.02;
        background-image: url(img/slider3.jpg);
    }
    60%{
        opacity: 0.02;
        background-image: url(img/slider4.jpg);
    }
    70%{
        opacity: 1;
        background-image: url(img/slider4.jpg);
    }
    79%{
        opacity: 0.02;
        background-image: url(img/slider4.jpg);
    }
    80%{
        opacity: 0.02;
        background-image: url(img/slider5.jpg);
    }
    90%{
        opacity: 1;
        background-image: url(img/slider5.jpg);
    }
    99%{
        opacity: 0.02;
        background-image: url(img/slider5.jpg);
    }
    100%{
        opacity: 0.02;
        background-image: url(img/vanghogvoorpagina.jpg);
    }
}

.footerp{
    color: white;
    margin-top: 10px;
    font-size: 15px;
    text-align: center;
    font-size: 16px;
}

.infoF{
    margin-top: 10px;
}

.tourDiv{
    margin: 0 auto;
    height: 1000px;
    border: 1px solid black;
    width: 80vw;
    margin-top: 40px;
    margin-bottom: 40px;
    text-align: center;
}

.artDiv{
    margin: 0 auto;
    height: 1000px;
    border: 1px solid black;
    width: 80vw;
    margin-top: 40px;
    margin-bottom: 40px;
    text-align: center;
}

.testimonials{
    padding-bottom: 40px;
    background-image: linear-gradient(to bottom left, rgb(224, 183, 1), rgb(255, 196, 0), rgb(255, 153, 0), darkorange);
    color: black;
    text-align: center;
    display: grid;
}

.inner{
    max-width: 1200px;
    margin: auto;
    overflow: hidden;
    padding: 0 20px;
}

.row{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.col{
    flex: 33.33%;
    max-width: 33.33%;
    box-sizing: border-box;
    padding: 20px;
}

.testimonail{
    background-color: bisque;
    border: 1px solid black;
    border-radius: 10px;
    padding: 30px;
    height: 350px;
}

.testimonail > img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.name{
    font-size: 20px;
    text-transform: uppercase;
    margin: 20px 0;
}

.stars{
    color: black;
}

.reviewh2{
    font-size: 50px;
}

h3{
    margin: 10px;
}

@media screen and (max-width:1000px){
    header{
        height: 420px;
        width: 100%;
    }

    nav{
        width: 100%;
    }

    nav > ul{
        display: block;
    }

    .nlvlag{
        margin-top: 15px;
    }

    .envlag{
        margin-top: 15px;
    }

}

@media screen and (max-width:800px) {
    .col{
        flex: 100%;
        max-width: 80%;
    }

    h1{
        font-size: 100px;
    }

}

@media screen and (max-width:600px) {
    .col{
        flex: 100%;
        max-width: 100%;
    }

    body{
        font-size: 16px; 
     }
}
/* Job class */

.collectionsList{
    list-style: none;
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
    justify-content: center;
}

.collectionsListItem{
    width: 400px;
    height: 710px;
    flex-shrink: 0;
    background-color: bisque;
    border: 1px solid black;
}

.collectionsListItem > img{
    width: 100%;
    height: 400px;
    object-fit: cover;
}

.Part{
    margin-bottom: 10px;
    margin-top: 10px;
    padding: 15px;
}

.h1art{
    font-size: 120px;
}

.h2art{
    margin-bottom: 10px;
    margin-left: 15px;
}

.achtergrondart{
    background-image: linear-gradient(to bottom right, darkorange, rgb(255, 153, 0), rgb(255, 196, 0), rgb(224, 183, 1));
}

.Geenidee{
    padding: 15px;
}
    